<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Capsules</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="Nav-Menu__link-wrapper" @onclick="ToggleNavMenu">
    <nav class="flex-column" style="flex: 1 1 auto;">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" title="Home">
                <span class="oi oi-home" aria-hidden="true"></span> <span class="link-text">Home</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter" title="Counter">
                <span class="oi oi-plus" aria-hidden="true"></span> <span class="link-text">Counter</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata" title="Fetch data">
                <span class="oi oi-list-rich" aria-hidden="true"></span> <span class="link-text">Fetch data</span>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
